<a href="{{ "/" | relURL }}" class="title">
  <h2>{{ .Site.Title }}</h2>
</a>
<nav>{{- partial "nav.html" . -}}</nav>
<p>
	🗞️ Subscribe to this blog via
	{{ with .Site.GetPage "/" }}
	{{ with .OutputFormats.Get "rss" -}}
	{{ printf ` <a href="%s">RSS</a>` .Permalink | safeHTML }},
	{{ end -}}
	{{ end }}
	{{ with .Site.GetPage "/" }}
	{{ with .OutputFormats.Get "json" -}}
	{{ printf ` <a href="%s">JSON</a>` .Permalink | safeHTML }},
	{{ end -}}
	{{ end }}
	or email below!
</p>
<form method="POST" action="https://micro.blog/users/subscribe/107909">
  <input type="text" name="email" size="30" placeholder="example@example.com" />
  <input type="submit" value="Subscribe" />
</form>
<p>
  🚀 I'm launching a VPN service that <u><i>can’t</i></u> track your activity, be the first in line to use it: <a href="https://obscuravpn.io/">obscuravpn.io</a>
</p>
